[buildout]
parts =
    odoo

find-links =
    http://download.gna.org/pychart/
extensions = gp.vcsdevelop
vcs-extend-develop =
    git+https://github.com/StefanRijnhart/anybox.recipe.odoo@feature/python3#egg=anybox.recipe.odoo
    git+https://github.com/OCA/openupgradelib.git@master#egg=openupgradelib
vcs-update = True
newest = false

[odoo]
git-warn-sha-pins = False
vcs-clear-retry = True
recipe = anybox.recipe.odoo:server
eggs =
    gevent
    unidecode
    paramiko
    openupgradelib
version = git git@github.com:odoo/odoo.git odoo 11.0
addons = git git@github.com:manitra/odoo-enterprise.git parts/local_pro 11.0
    git git@github.com:manitra/odoo-payment-airtel.git parts/local_dev master

options.limit_memory_hard = 4294967296 
options.limit_memory_soft = 671088640 
options.limit_request = 8192 
options.limit_time_cpu = 120 
options.limit_time_real = 300 
options.http_port = 8069 
options.longpolling_port = 8072 
options.workers = 0

[versions]
argparse = 1.2.1
Babel=2.3.4
bokeh = 0.12.7
decorator=4.0.10
docutils=0.12
ebaysdk=2.1.5
feedparser=5.2.1
gevent=1.1.2
greenlet=0.4.10
html2text=2016.9.19
Jinja2=2.8
Mako=1.0.4
MarkupSafe=0.23
mock=2.0.0
num2words=0.5.4
ofxparse=0.16
passlib=1.6.5
Pillow=4.0.0
psutil=4.3.1
lxml = 3.5.0
psycopg2=2.7.3.1
pydot=1.2.3
pyldap=2.4.28
pyparsing=2.1.10
PyPDF2=1.26.0
pyserial=3.1.1
python-dateutil=2.5.3
pytz=2016.7
pyusb=1.0.0
PyYAML=3.12
qrcode=5.3
reportlab=3.3.0
requests=2.11.1
suds-jurko=0.6
vatnumber=1.2
vobject=0.9.3
Werkzeug=0.11.15
XlsxWriter=0.9.3
xlwt=1.1.2
xlrd=1.0.0
pstats_print2list = 1.1.9

